#app {
  background-color: #0b0b18;
}
.app {
  top: 0;
  width: 100%;
  /*.reveal {*/
  /*width: 100% !important;*/
  /*position: fixed !important;*/
  /*}*/
}
.app .menu {
  position: fixed;
  top: 60px;
  background: rgba(20, 20, 38, 0.85);
  width: 100%;
  z-index: 2;
}
.app .menu a {
  text-align: center;
  color: #7681e3;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  display: block;
}
.app .contact {
  width: 100%;
  marigin-top: 200px;
  border-radius: 10px;
}
.app .contact .contact_title {
  text-align: left;
  padding-top: 24px;
  font-weight: bold;
  font-size: 30px;
  color: #fff;
  padding-left: 5%;
}
.app .contact .contact_div {
  padding-top: 54px;
  padding-left: 5%;
  padding-bottom: 24px;
  overflow: hidden;
}
.app .contact .contact_div .contact_radius {
  margin-top: 4%;
  float: left;
  width: 45%;
  height: 60px;
  background: #1d1f37;
  margin-right: 5%;
  border-radius: 6px;
}
.app .contact .contact_div .contact_radius img {
  margin-top: 12px;
  width: 36px;
  margin-left: 8%;
  float: left;
}
.app .contact .contact_div .contact_radius div {
  font-size: 18px;
  color: #cbc8d4;
  float: left;
  margin-top: 24px;
  margin-left: 10%;
}
.app .wechat {
  position: relative;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 12;
}
.app .wechat .wechat_warp {
  position: relative;
  position: absolute;
  color: #5c5c7c;
  text-align: center;
  height: 200px;
  width: 200px;
  background: #141426;
  border-radius: 8px;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
}
.app .wechat .wechat_warp .cancel {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ed3d3d;
  position: absolute;
  margin-top: 14px;
  right: 14px;
  cursor: pointer;
}
.app .wechat .wechat_warp .cancel img {
  margin-top: 2px;
  margin-left: 2px;
  float: left;
  display: none;
}
.app .wechat .wechat_warp .cancel:hover img {
  display: block;
}
.app .wechat .wechat_warp .wechat_img {
  margin-top: 40px;
  margin-bottom: 10px;
  width: 100px;
}
.app .wechat .wechat_warp .wechat_title {
  font-size: 14px;
}
.app .wechat .wechat_warp .wechat_txt {
  font-size: 14px;
  margin-top: 6px;
}
.app .collaboration {
  min-height: 600px;
  height: auto;
}
.app .collaboration .collaboration_title {
  margin-top: 20px;
  text-align: left;
  /*font-weight: bold;*/
  font-size: 30px;
  margin-left: 5%;
  color: #fff;
}
.app .collaboration .collaboration_href {
  overflow: hidden;
  /*display: block;*/
  margin-right: 5%;
}
.app .collaboration .collaboration_href .collaboration_warp {
  flex-direction: column;
}
.app .collaboration .collaboration_href .collaboration_warp .collaboration_div {
  float: right;
  width: 160px;
  background: #141430;
  border-radius: 6px;
  height: 60px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.app .collaboration .collaboration_href .collaboration_warp .collaboration_div img {
  width: 64px;
  float: left;
  margin-left: -30px;
  margin-top: -2px;
}
.app .collaboration .collaboration_href .collaboration_warp .collaboration_div .collaboration_div1 {
  position: absolute;
  height: 1px;
  background: #fff;
}
.app .network {
  margin: 100px auto  auto;
  border-radius: 10px;
}
.app .network .irispattern {
  width: 100%;
  height: 100%;
}
.app .network .network_title {
  text-align: left;
  margin: 0 20px;
  font-family: "PingFang SC";
}
.app .network .network_title img {
  display: block;
  width: 90%;
  margin: 40px  auto  auto;
}
.app .what_txt_list_two {
  font-size: 12px;
  color: #cbc8d4;
  line-height: 20px;
}
.app .what_txt_list_center {
  font-size: 12px;
  color: #cbc8d4;
  padding: 10px 0;
  line-height: 20px;
}
.app .what_txt_list_four {
  font-size: 12px;
  color: #cbc8d4;
  line-height: 20px;
}
.app .network_txt {
  height: 70%;
  width: 84%;
  background: #141426;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 0 20px #080B0F;
  margin-top: 6vh;
}
.app .network_txt img {
  width: 100%;
  height: 100%;
}
.app .network_txt .network_text {
  text-align: center;
}
.app .network_txt .network_text .network_title {
  font-weight: bold;
}
.app .network_txt .network_text .network_list {
  margin-left: 10%;
  font-size: 12px;
  line-height: 22px;
  text-align: left;
  width: 84%;
}
.app .network_txt .network_text .network_list div {
  margin-top: 30px;
}
.app .about {
  /*background: #141426;*/
  margin: 100px auto auto;
  border-radius: 10px;
  /*box-shadow: 0 0 20px #080B0F;*/
  position: relative;
}
.app .about .irispattern {
  width: 100%;
  height: 100%;
}
.app .about .about_warp .imgtxt {
  position: absolute;
  font-size: 12px;
  right: 0;
  top: 18%;
  text-align: right;
  line-height: 20px;
  margin-right: 4%;
  color: #bfbfbf;
}
.app .about .about_warp .about_txt {
  margin: 0 5%;
  text-align: left;
  padding-bottom: 20px;
}
.app .about .about_warp .about_txt .about_div {
  font-size: 12px;
  margin-top: 15px;
  line-height: 20px;
  color: #cbc8d4;
}
.app .home {
  padding-top: 10%;
  padding: 10% 5% 10%;
}
.app .home .home-left {
  text-align: left;
  margin-top: 20%;
}
.app .home .home-left .home_title {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}
.app .home .home-left .home_txt {
  font-size: 12px;
  line-height: 24px;
  margin-top: 14px;
  width: 90%;
  color: #cbc8d4;
}
.app .home .home_img {
  text-align: center;
  margin-top: 13%;
}
.app .home .home_img .button {
  display: inline-block;
  padding: 16px 30px;
  color: #fff;
  background: #724be3;
  border-radius: 24px;
}
.app .home .home_img .community-container {
  width: 113px;
  margin: 0 auto;
  color: #fff;
  border-radius: 24px;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  padding: 14px 45px 14px 33px;
}
.app .home .home_img .community-container .community-img-container {
  width: 18px;
  height: 18px;
}
.app .home .home_img .community-container .community-img-container img {
  width: 18px;
}
.app .home .home_img .community-container span {
  padding-left: 15px;
  color: #724be3;
}
.app .roadmap {
  height: 600px;
  margin: 100px 5% auto;
}
.app .roadmap .roadmap_title {
  margin-top: 20px;
  text-align: left;
  font-weight: bold;
  font-size: 30px;
  color: #fff;
}
.app .roadmap .roadmap_warp {
  text-align: center;
  height: 60%;
  position: relative;
  width: 4px;
  left: 30%;
  margin-top: 6%;
}
.app .roadmap .roadmap_warp .rainbow {
  height: 150%;
  width: 4px;
  position: relative;
  right: 1px;
}
.app .roadmap .roadmap_warp .roadmap_div {
  position: relative;
  position: absolute;
  border-radius: 50%;
  left: -8px;
}
.app .roadmap .roadmap_warp .roadmap_div .roadmap_radius {
  width: 22px;
  height: 22px;
}
.app .roadmap .roadmap_warp .roadmap_div .roadmap_radius img {
  width: 100%;
  position: relative;
  top: -3px;
  left: -3px;
}
.app .roadmap .roadmap_warp .roadmap_div .roadmap_radius .show-radius {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  position: relative;
  bottom: 22px;
  left: 3px;
}
.app .roadmap .roadmap_warp .roadmap_div .roadmap_img {
  position: absolute;
  top: 0;
  text-align: right;
  margin-left: -80px;
}
.app .roadmap .roadmap_warp .roadmap_div .roadmap_img span {
  display: inline-block;
  color: #61cbff;
  font-size: 18px;
  margin-bottom: 5px;
}
.app .roadmap .roadmap_warp .roadmap_div .roadmap_img p {
  color: #25556d;
  font-size: 12px;
  margin: 2px 0;
}
.app .roadmap .roadmap_warp .roadmap_div .roadmap_img p:nth-child(3) {
  text-align: center;
}
.app .roadmap .roadmap_warp .roadmap_div .roadmap_txt {
  position: absolute;
  top: 7px;
  left: 60px;
  border-radius: 6px;
  line-height: 14px;
  font-size: 12px;
  min-width: 155px;
  width: auto;
  text-align: left;
  opacity: 0;
  color: #d4d5de;
}
.app .head {
  background: #141426;
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 100;
}
.app .head .imglogo {
  width: 112px;
  margin-top: 12px;
  margin-left: 20px;
}
.app .head .div_en {
  float: right;
  color: #4b4e6d;
  line-height: 60px;
}
.app .head .div_en img {
  margin-left: 20px;
  float: right;
  width: 20px;
  margin-top: 20px;
  margin-right: 20px;
}
html,
body {
  min-width: auto !important;
}
.slides {
  width: 100% !important;
  height: 100% !important;
  left: 0% !important;
  top: 0% !important;
  transform: none !important;
  text-align: left;
  color: #fff;
}
.slides .stack {
  height: 100%;
}
.slides .present {
  top: 0 !important;
  height: 100%;
  width: 100%;
  background: #0b0b18;
  /*background: #0b0b18 url("../../public/app/irispattern-background.png") no-repeat fixed center;*/
  /*background-size: 375px;*/
}
.title-txt {
  font-size: 30px;
  color: #fff;
}
.img_right_container {
  margin-top: 40px;
}
.img_containter_top {
  display: flex;
  flex-direction: column;
}
.img_default_containter {
  margin: 0 auto;
  width: 40px;
  animation: imgTranslate 2s infinite linear alternate;
}
.img_default_containter img {
  width: 100%;
}
.rectangle_default_container {
  margin: 0 auto;
  width: 80px;
}
.rectangle_default_container img {
  width: 100%;
}
.img_container_bottom {
  display: flex;
  justify-content: center;
}
.img-center-container {
  padding: 0 10%;
}
.whiteBook-button {
  text-align: center;
  margin-top: 40px;
}
.whiteHref-btn {
  padding: 10px 30px;
  background: #724be3;
  color: #fff;
  margin: 0 auto;
  border-radius: 24px;
  cursor: pointer;
  font-size: 18px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.collaboration-img-container {
  display: flex;
  margin-top: 15px;
  margin-left: -10px;
}
.img-container-collaboration {
  position: relative;
  left: 28px;
  top: 1px;
  width: 50px;
}
.img-container-collaboration img {
  width: 100%;
}
.collaboration-txt-container {
  width: 100px;
  padding: 10px 20px 10px 20px;
  background: #141430;
  border-radius: 5px;
}
.collaboration_div_text {
  color: #1994db;
  margin-top: 5px;
  font-size: 12px;
  margin-left: 12px;
}
.line {
  height: 1px;
  width: 100%;
  background: #282856;
  margin-top: 5px;
  margin-left: 12px;
}
.collaboration-img-container-two {
  display: flex;
  margin-top: 15px;
  margin-left: -31px;
}
.collaboration_div_title {
  color: #6677e8;
  font-weight: bold;
  font-size: 12px;
  margin-left: 12px;
}
.collaboration_div_txt {
  color: #cbc8d4;
  font-size: 12px;
  margin-top: 20px;
  margin-left: 20px;
}
.collaboration_title_none {
  line-height: 30px;
  margin-left: 10px;
}
/*.sroll-container{*/
/*width: 90%;*/
/*height:150px;*/
/*overflow: scroll;*/
/*}*/
@keyframes myMove {
  0% {
    transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
  }
}
@-webkit-keyframes myMove {
  0% {
    transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
  }
}
@-moz-keyframes myMove {
  0% {
    transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
    -moz-transform: scale(1.5, 1.5);
    -webkit-transform: scale(1.5, 1.5);
    -o-transform: scale(1.5, 1.5);
    -ms-transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
  }
}
@-o-keyframes myMove {
  0% {
    transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
    -moz-transform: scale(1.5, 1.5);
    -webkit-transform: scale(1.5, 1.5);
    -o-transform: scale(1.5, 1.5);
    -ms-transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
  }
}
.show-scale {
  animation: myMove 2s infinite;
  -webkit-animation: myMove 2s infinite;
  -moz-animation: myMove 2s infinite;
  -o-animation: myMove 2s infinite;
}
@keyframes imgTranslate {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}
.warp .warp_cont {
  overflow: hidden;
}
.warp .warp_cont .warp_cont_left {
  position: relative;
}
.warp .warp_cont .warp_cont_left .border {
  width: 25%;
  height: 2px;
  background: #c83e66;
}
.warp .warp_cont .warp_cont_left .title {
  margin-top: 18px;
  padding-bottom: 20px;
  font-size: 24px;
  color: #fff;
  line-height: 30px;
}
.warp .warp_cont .warp_cont_left .title .div1 {
  font-size: 14px;
  line-height: 22px;
  color: #d4d5de;
  font-style: oblique;
}
.warp .warp_cont .warp_cont_right {
  border-top: 1px solid #2e3148;
  padding: 20px 8px;
  font-size: 12px;
  flex: 1;
}
.warp .warp_cont .warp_cont_right div {
  font-size: 16px;
  color: #d4d5de;
  line-height: 26px;
  margin-top: 28px;
}
.warp .warp_cont .warp_cont_right div span {
  font-style: oblique;
}
.warp .warp_cont .warp_cont_right div a {
  color: #7681e3;
}
.warp .warp_cont .warp_cont_right div ul {
  list-style-type: disc;
}
.warp .warp_cont .warp_cont_right div:first-child {
  margin-top: 0;
}
.warp .warp_title {
  font-size: 30px;
  color: #ffffff;
  padding-top: 20px;
  font-weight: bold;
}
.warp .warp_title2 {
  color: #8c8fa6;
  font-size: 12px;
  margin-top: 14px;
  margin-bottom: 36px;
}
.warp .warp_cont .warp_cont_right div {
  width: 100%;
  font-size: 12px;
}
.newCenter {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background: #0b0b18 url('../../../public/privacy.png') no-repeat fixed center;
  background-size: 375px;
}
.scroll-container {
  width: 90%;
  margin-left: 5%;
}
.right-text {
  margin-bottom: 20px;
}
.nav-line {
  margin-top: 10px;
  width: 12%;
  height: 3px;
  background: #724be3;
}
.bottom-container {
  width: 100%;
  line-height: 30px;
  background: #0f0f1f ;
  text-align: center;
  color: #3b3b5f ;
  font-size: 12px;
  margin-top: 50px;
}
.protocol-container {
  display: flex;
  color: #3563c1;
  justify-content: center;
}
.protocol-distance {
  padding: 10px 5px;
  font-size: 12px;
}
.guide_right {
  position: relative;
  right: 25px;
  top: 2px;
}
.bottom-line {
  width: 100%;
  height: 1px;
  margin-top: 3px;
  background: #3563c1;
}
.direction-line {
  width: 22px;
  height: 1px;
  background: #fff;
  position: relative;
  left: 105%;
  top: 9px;
}
.show-line {
  visibility: hidden;
}
.showAnim {
  animation: directionLine  0.25s linear ;
}
@keyframes directionLine {
  from {
    width: 0;
  }
  to {
    width: 22px;
  }
}
@keyframes opacityShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.showOpacity {
  animation: opacityShow 2s;
  /*animation-delay: 2s;*/
  animation-fill-mode: forwards;
}
.collaboration_wrap {
  margin: 0px 34px auto;
}
.collaboration_wrap h2 {
  color: #fff;
  font-size: 30px;
}
.collaboration_wrap h4 {
  color: #cbc8d4;
  font-weight: 400;
}
.collaboration_wrap .collaboration_two_col {
  display: flex;
  margin-top: 34px;
}
.collaboration_wrap .collaboration_two_col .core {
  width: 250px;
  flex-shrink: 0;
  flex-grow: 0;
}
.collaboration_wrap .collaboration_two_col .strategy {
  flex-grow: 1;
}
.collaboration_wrap .collaboration_one_col {
  margin-top: 40px;
  min-width: 500px;
}
