.testnet_container{
  width: 100%;
  background: url("../../../public/irisnet/irisnet_testnet_background.png") no-repeat center center;
  background-size: cover;
  .testnet_text_content{
    max-width: 12rem;
    margin:  0 auto;
    text-align: center;
    padding:  0 0.2rem;
    .fuxi_title{
      margin: 0;
      padding-top: 1rem;
      font-size: 0.52rem;
      color: #fff;
    }
    .fuxi_content{
      padding-top: 0.4rem;
      padding-bottom: 1.25rem;
      .content_item{
        font-size: 0.22rem;
        color: #fff;
        opacity: 0.35;
        line-height: 0.26rem;
      }
      .content_item:nth-child(2){
        padding: 0.16rem 0;
      }
    }
  }
}
.testnet_link_container{
  width: 100%;
  background: #F9FAFC;
  .testnet_link_content{
    max-width: 12rem;
    margin: 0 auto;
    padding: 0.77rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    .faq_content{
      display: flex;
      .fqa_block{
        display: flex;
        min-width: 3rem;
        background: #fff;
        justify-content: space-between;
        align-items: center;
        padding: 0.3rem 0.22rem;
        margin-right: 0.15rem;
        .faq_title{
          font-size: 0.14rem;
          color: #323C5A;
          font-family: 'Arial Bold';
        }
        .faq_img{
          display: inline-block;
          width: 0.3rem;
          height: 0.3rem;
          img{
            width: 100%;
          }
        }
      }
      a:last-child{
        .fqa_block{
          margin-right: 0;
        }
      }
    }
    .explorer_rainbow_link_content{
      display: flex;
      margin-top: 0.15rem;
      .explorer_content{
        display: flex;
        min-width: 3rem;
        background: #fff;
        justify-content: space-between;
        align-items: center;
        padding: 0.3rem 0.22rem;
        margin-right: 0.15rem;
        .explorer_title{
          font-size: 0.14rem;
          color: #323C5A;
          font-family: 'Arial Bold';
        }
        .explorer_img{
          display: inline-block;
          width: 0.3rem;
          height: 0.3rem;
          img{
            width: 100%;
          }
        }
      }
      .rainbow_content{
        display: flex;
        min-width: 3rem;
        background: #fff;
        justify-content: space-between;
        align-items: center;
        padding: 0.3rem 0.22rem;
        .rainbow_title{
          font-size: 0.14rem;
          color: #323C5A;
          font-family: 'Arial Bold';
        }
        .rainbow_img{
          display: inline-block;
          width: 0.3rem;
          height: 0.3rem;
          img{
            width: 100%;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 620px) and (max-width: 768px){
  .testnet_link_container{
    .testnet_link_content{
      .faq_content{
        width: 100%;
        display: flex;
        justify-content: center;
        a{
          width: 45%;
          .fqa_block{
            min-width: auto;
            padding: 0.2rem;
          }
        }

      }
      .explorer_rainbow_link_content{
        width: 100%;
        display: flex;
        justify-content: center;
        a{
          width: 45%;
          .explorer_content{
            min-width: auto;
            padding: 0.2rem;
          }
        }
        a{
          width: 45%;
          .rainbow_content{
            min-width: auto;
            padding: 0.2rem;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 375px) and (max-width: 619px){
  .testnet_link_container{
    .testnet_link_content{
      .faq_content{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        a{
          width: 80%;
          .fqa_block{
            margin-right: 0;
            min-width: auto;
            padding: 0.2rem;
          }
        }
        .fqa_block:last-child{
          margin-top: 0.15rem;
        }
      }
      .explorer_rainbow_link_content{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        a{
          width: 80%;
          .explorer_content{
            min-width: auto;
            padding: 0.2rem;
            margin-right: 0;
          }
          .rainbow_content{
            min-width: auto;
            padding: 0.2rem;
            margin-top: 0.15rem;
          }
        }

      }
    }
  }
}
@media screen and (max-width: 375px){
  .testnet_link_container{
    .testnet_link_content{
      .faq_content{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        a{
          width: 80%;
          .fqa_block{
            margin-right: 0;
            min-width: auto;
            padding: 0.2rem;
          }
        }
        .fqa_block:last-child{
          margin-top: 0.15rem;
        }
      }
      .explorer_rainbow_link_content{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        a{
          width: 80%;
          .explorer_content{
            min-width: auto;
            padding: 0.2rem;
            margin-right: 0;
          }
          .rainbow_content{
            min-width: auto;
            padding: 0.2rem;
            margin-top: 0.15rem;
          }
        }
      }
    }
  }
}
